<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DataFall Inc.</title>
<%= stylesheet_link_tag "application.css" %>
<%= javascript_include_tag "application.js" %>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

</head>

<body>

<header>
		<%= image_tag("logo.png", class: "logo") %>
		<%= render 'sitenav' %>
</header>

<section class="home-hero parallax--bg">
	<div class="container">
		<h1 class="title parallax--box">Earn what you deserve <span>for a company that keeps giving</span>
		</h1>
		<a href="" class="button button-accent">Share with us</a>
	</div>
</section>

<div class="container">
	<section class="home-about">

		<div class="home-about-textbox parallax--box">
			<h1>Who we are</h1>
			<p>A platform that puts the user in control of their own data, empowering the user to provide and sell as much data as they want with full transparency.</p>
			<p><strong>Transparency at all times</strong> The team believes user’s should earn a cut from relinquishing that information to use these “free” services.</p>
		</div>

	</section>
</div>


<section class="portfolio">
	<h1>Some of our rewards!</h1>

	<!-- portfolio item 01 -->
	<figure class="port-item">
		<%= image_tag("portfolio-01.jpeg") %>
		<figcaption class="port-desc">
			<p>Eshop Cards</p>
			<a href="" class="button button-accent button-small">Reward Details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 02 -->
	<figure class="port-item">
	<%= image_tag("portfolio-02.png") %>
		<figcaption class="port-desc">
			<p>PSN Cards</p>
			<a href="" class="button button-accent button-small">Reward Details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 03 -->
	<figure class="port-item">
			<%= image_tag("portfolio-03.jpg") %>
		<figcaption class="port-desc">
			<p>Xbox Cards</p>
			<a href="" class="button button-accent button-small">Reward Details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 04 -->
	<figure class="port-item">
		<%= image_tag("portfolio-04.png") %>
		<figcaption class="port-desc">
			<p>Steam Cards</p>
			<a href="" class="button button-accent button-small">Reward Details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 05 -->
	<figure class="port-item">
			<%= image_tag("portfolio-05.png") %>
		<figcaption class="port-desc">
			<p>Amazon Cards</p>
			<a href="" class="button button-accent button-small">Reward Details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 06 -->
	<figure class="port-item">
			<%= image_tag("portfolio-06.png") %>
		<figcaption class="port-desc">
			<p>Playstore Cards</p>
			<a href="" class="button button-accent button-small">Reward Details</a>
		</figcaption>
	</figure>

</section>

<section class="cta">
	<div class="container">
		<h1 class="title title-cta">More information = more money
			 <span>No sensitive information to be sold</span>
		</h1>
		<a href="" class="button button-dark">Sign up</a>
	</div>
</section>

<footer>
	<div class="container">
		<div class="col-3">
			<p>Requires Google Login</p>
		</div>

		<div class="col-1">
			<ul class="unstyled-list">
				<li><strong>Playstation</strong></li>
				<li>PSN Memberships</li>
				<li>PSN Points</li>
				<li>PS Now</li>
				<li>PS Digital</li>
			</ul>
		</div>

		<div class="col-1">
			<ul class="unstyled-list">
				<li><strong>Microsoft</strong></li>
				<li>Xbox Live</li>
				<li>Xbox points</li>
				<li>Game Pass</li>
				<li>Xbox Digital </li>
			</ul>
		</div>

		<div class="col-1">
			<ul class="unstyled-list">
				<li><strong>Nintendo</strong></li>
				<li>Nintendo Online</li>
				<li>Nintendo Points</li>
				<li>Retro Pass </li>
				<li>Eshop </li>
			</ul>
		</div>
	</div>
</footer>




		
</body>
</html>
