<%= form_for([@user, @user.submissions.build]) do |f| %>
<p>
   <%= f.select :category, ['Preference', 'Location','Purchase']%>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>